*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  background-color: var(--dark-grey);
}

.title {
  color: var(--light-grey);
  text-align: center;
  margin: 25px 0;
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  min-width: 400px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--light-grey);

}

.clock-face {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background-color: var(--dark-grey);
}

main {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.hand {
  background-color: var(--dark-orange);
  transform-origin: center bottom;
  transform: rotate(90deg);
  height: 190px;

  
}
.hour-hand {
  position: absolute;
  width: 6px;
  border-radius: 5px;
  left: 50%;

}

.minute-hand {
  position: absolute;
  width: 3px;
  border-radius: 5px;
  left: 50%;

}

.second-hand {
  position: absolute;
  width: 2px;
  border-radius: 5px;
  left: 50%;
  transform: rotate(90deg);
}

.hour-number {
  color: var(--light-grey);
  font-size: 2rem;
  
}

.number-container {
  position: absolute;
  top: -18px;
  right: -12px;
}

.clock-face-numbers-container {
  position: absolute;
}

.alarm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 120px;
  font-size: 1rem;
  color: var(--light-grey)
}

.alarm input{
  width: 35px;
}

.alarm-btn {
  margin: 5px auto;
  width: 75px;
  height: 32px;
  border-radius: 6px;
  background-color: #1a7fd8;
  font-weight: bold;
  color: var(--white)
}

@media (max-width: 432px) {
  .clock-container {
    width: 220px;
    min-width: 240px;
    min-height: 240px;
    height: 220px;
  }
  .clock-face {
    width: 220px;
    height: 220px;
    padding: 8px;
  }
  .hand {
    height: 100px;
  }
  .hour-number {
    color: var(--light-grey);
    font-size: 1.25rem;0
  }
  .number-container {
    width: 100px;
    height: 12px;
    top: -5px;
    right: -90px;
    padding: 5px;
    }
    .clock-face-numbers-container {
    position: absolute;
  }
}
  

@media (min-width: 769px) {
  .alarm {
    flex-direction: row;
  }
}